.tz-qty-container .tz-qty-cont{
    display: inline-block;
    width: 28px;
    height: 28px;
    text-align: center;
    background-color: #f7f7f7;
    border: #d1d1d1 1px solid;
    border-radius: 3px;
    vertical-align: middle;
    font-size: 20px;
    line-height: 1.25em;
    color: #686868;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.tz-qty-container .tz-qty:hover{
    background-color: #e6e5e5;
}

.tz-qty-container .quantity{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.tz-qty-container.hidden{
    display: none !important;
}

li.product a.button.added[data-tz_qty_ajax="true"],
li.product a.added_to_cart[data-tz_qty_ajax="true"],
li.product a.add_to_cart_button.hidden[data-tz_qty_ajax="true"]{
    display: none !important;
}

